{% extends "base.html" %}
{% block content %}
<a class="skip-link" href="#main">Skip to content</a>

{% include "partials/_nav.html" %}

<main id="main">
  {% include "partials/_hero.html" %}
  {% include "partials/_about.html" %}
  {% include "partials/_skills.html" %}
  {% include "partials/_projects.html" %}
  {% include "partials/_portfolio_intelligence.html" %}
  {% include "partials/_social_proof.html" %}
  {% include "partials/_github.html" %}
  {% include "partials/_experience.html" %}
  {% include "partials/_map.html" %}
  {% include "partials/_resume.html" %}
  {% include "partials/_contact.html" %}
</main>

{% include "partials/_footer.html" %}
{% endblock %}
